.demoContainer {
        width: 80%;
        padding: 3rem 0;
}

.demoContainer * {
        width: 99%;
        overflow: hidden;
        color: var(--forestgreen);
}

.demoImg {
        border: solid var(--forestgreen);
        border-radius: 8px;
        overflow: hidden;
}

.demoBody {
        margin-top: 2rem;
}

.display {
    display: visible;
}

.displayNone {
    display: none;
}
