.demoContainer {
        width: 80%;
}

.demoContainer * {
        width: 100%;
        overflow: hidden;
}

.demoImg {
        border: solid var(--forestgreen);
        border-radius: 8px;
        overflow: hidden;
}

.demoBody {
        margin-top: 2rem;
}

.display {
    display: visible;
}

.displayNone {
    display: hidden;
}
