.about {
    margin-top: 5rem;
}

.about h1 {
    font-size: 4rem;
}

.about h2 {
    font-size: 2rem;
    color: var(--lightforestgreen);
}

.aboutP {
    max-width: 650px;
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--lightforestgreen);
}

#portfolio-anchor {
    margin-top: 2rem;
    padding: 5px;
    border: solid 1px var(--darkterracotta);
    border-radius: 8px;
    background-color: var(--lighttan);
    color: var(--darkterracotta) !important;
    transition: 0.3s ease-out;
}

#portfolio-anchor:hover {
    background-color: var(--terracotta);
    color: var(--lighttan) !important;
}
