.demoFooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        width: 140px !important;
        margin-bottom: 0.5rem;
}

.demoArrow {
    width: 1rem;
    color: var(--pistachio);
}

.demoArrow:hover {
    color: var(--forestgreen);
    transform: scale(1.15);
    cursor: pointer;
}

.demo-progress-bar {
        border: solid var(--forestgreen);
        width: 10px !important;
        height: 10px !important;
        margin: 5px 0 !important;
        rotate: 0deg;
        transition: 0.3s ease-out;
}

.demo-progress-bar:hover {
        rotate: 45deg;
}

.progress-on {
        background-color: var(--pistachio);
}