#contactContainer {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; right: 0; left: 0;
    height: 50%;
    width: 50%;
}

#contactSub {
    margin: 0;
    margin-left: 1rem;
    color: var(--forestgreen);
}

#contactHead {
    margin: 0;
    margin-bottom: 1rem;
}