#contactForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
    border: solid var(--forestgreen);
    border-radius: 16px;
    background-color: var(--pistachio);
    color: var(--forestgreen);
}

#contactForm input {
    margin-bottom: 20px;
    padding: 5px;
    background-color: var(--offwhite);
    border: solid 1px var(--forestgreen);
    border-radius: 8px;
    color: var(--forestgreen);
}

#contactForm textarea {
    margin-bottom: 20px;
    padding: 5px;
    background-color: var(--offwhite);
    border: solid 1px var(--forestgreen);
    border-radius: 8px;
    max-width: 98%;
    color: var(--forestgreen);
}

#contactBtn {
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}

#contactBtn:hover {
    color: var(--vlightpistachio);
    background-color: var(--pistachio);
    border: solid 1px var(--vlightpistachio);
}
