h3 {
        color: var(--lightpistachio);
}

.header-span {
        margin: 0;
        color: var(--forestgreen);
}

#header {
        display: flex;
        justify-content: space-between;
        margin: 40px 40px;
}

#header * {
        margin: 0;
        font-size: 1em;
}

#header div a {
        margin: 10px;
}

#header p {
        color: var(--forestgreen);
}
