h3 {
        color: var(--lightpistachio);
}

.resumeBtn {
    padding: 5px;
    border: solid 1px var(--darkterracotta);
    border-radius: 8px;
    background-color: var(--lighttan);
    color: var(--darkterracotta) !important;
    transition: 0.3s ease-out;
}

.resumeBtn:hover {
    background-color: var(--terracotta);
    color: var(--lighttan) !important;
}

.header-span {
        margin: 0;
        color: var(--forestgreen);
}

#header {
        display: flex;
        justify-content: space-between;
        margin: 40px 40px;
}

#header * {
        margin: 0;
        font-size: 1em;
}

#header div a {
        margin: 10px;
}

#header p {
        color: var(--forestgreen);
}
