header {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 10;
    background-color: var(--offwhite);
    opacity: 90%;
}

h3 {
        color: var(--lightpistachio);
}

.resumeBtn {
    padding: 5px;
    border: solid 1px var(--darkterracotta);
    border-radius: 8px;
    background-color: var(--lighttan);
    color: var(--darkterracotta) !important;
    transition: 0.3s ease-out;
}

.resumeBtn:hover {
    background-color: var(--terracotta);
    color: var(--lighttan) !important;
}

.header-span {
        margin: 0;
        color: var(--forestgreen);
}

#header p,nav {
        margin: 0 2rem;
        font-size: 1em;
}

#largeNav a {
        margin: 10px;
}

#navBtn {
    position: absolute;
    min-height: 2rem;
    top: 0;
    right: 1rem;
    margin: 1rem;
    background-color: var(--lighttan);
    border: solid var(--darkterracotta) 1px;
    border-radius: 4px;
    color: var(--darkterracotta) !important;
    text-align: center;
}

#smallNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    padding: 2rem;
    margin-right: 1rem;
    right: 0;
    transform: translateX(100%);
    top: 0;
    border-left: solid var(--forestgreen) 1px;
    background-color: var(--vlightpistachio);
    transition: 0.5s ease-in-out;
}

#smallNav * {
    margin-top: 3rem;
}

#smallNav button {
    position: absolute;
    margin: 1rem;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: var(--darkterracotta);
    font-weight: bolder;
}

#smallSocials {
    display: flex;
    justify-content: center;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#header p {
        color: var(--forestgreen);
}
