footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        padding: 0 10px;
        padding-top: 15px;
        margin: 40px;
}

.footer-icon {
        margin-bottom: 15px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        filter: brightness(0%);
}

.footer-icon:hover {
        filter: brightness(1);
}