body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--offwhite);
  --terracotta: #eeaa9b;
  --drkterracotta: #d68c7b;
  --darkterracotta: #bf6f5c;
  --extradrkterracotta: #9d4d3c;
  --vlighttan: #faf3e9;
  --lighttan: #f8e4c8;
  --offwhite: 	#fcfcee;
  --vlightpistachio: #d7edcc;
  --lightpistachio: 	#a6c298;
  --pistachio: 	#aec7a7;
  --forestgreen: #587141;
}

/* Utils */
h1 {
  color: var(--forestgreen);
}

h2 {
    color: var(--forestgreen);
    font-size: 3rem;
}

.wrap {
  margin: 0 4em;
  padding-bottom: 45px;
}

.wrap * {
  margin: 1rem 0;
}

a:link {
  color: var(--lightpistachio);
  text-decoration: none;
}

a:visited {
  color: var(--lightpistachio);
  text-decoration: none;
}

a:hover {
  color: var(--forestgreen);
  text-decoration: none;
}

a:active {
  color: var(--terracotta);
}

a:active *{
  color: var(--terracotta);
}

.hoverGlow:hover {
	box-shadow: 3px -3px 3px var(--vlightpistachio),
				3px 3px 3px var(--vlightpistachio),
				-3px -3px 3px var(--vlightpistachio),
				-3px 3px 3px var(--vlightpistachio);
}

.pistachio {
  color: var(--lightpistachio);
}
