body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body #root {
  height: 100vh;
  overflow: hidden;
}

/* Utils */
a:link {
  text-decoration: none;
}

.hoverGlow:hover {
	box-shadow: 3px -3px 3px rgb(218, 213, 213),
				3px 3px 3px rgb(218, 213, 213),
				-3px -3px 3px rgb(218, 213, 213),
				-3px 3px 3px rgb(218, 213, 213);
}
