#cardContainer {
        display: flex;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 663px;
}

#portfolio {
        margin: 0 40px;
}

#portfolio h1 {
        margin: 0 40px;
}

#about-anchor {
       margin: 0 40px; 
}