#cardContainer {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#portfolio hr {
        height: 1px;
        background-color: var(--forestgreen);
        border: none;
}